//Colors
$basic_green:hsl(97, 53%, 47%);
$basic_green-2:hsl(97, 57%, 43%);
$basic_gray:hsl(0, 0%, 95%);
$basic_grey-2:hsl(0, 0%, 92%);
$special_grey:hsl(0, 0%, 80%);
$special_grey-2:hsl(0, 0%, 40%);
$special_dark-grey:hsl(0, 0%, 27%);
$special_dark-grey-2:hsl(0, 0%, 13%);
$status_error:hsl(0, 100%, 75%);
$white:hsl(0, 0%, 100%);
$black:hsl(0, 0%, 0%);

//Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
